target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources
!**/src/test/resources

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/archetype-resources/pom.xml

.vscode/

.DS_Store
.git
.gitignore
*.log
