server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: task-service
          uri: http://task-service:8081
          predicates:
            - Path=/api/tasks/**

        - id: user-service
          uri: http://user-service:8082
          predicates:
            - Path=/api/users/**

        - id: notification-service
          uri: http://notification-service:8083
          predicates:
            - Path=/api/notifications/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    gateway:
      enabled: true

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    reactor.netty: DEBUG